
/* ------------------------------------*\
    #BASE
\*------------------------------------ */

* {
  box-sizing: border-box;
}

body {
  background-color: $color-bg-dark;
  color: $color-font-dark; 
  display: flex;
  flex-direction: column;
  font-family: $font-body;
  font-size: 16px;
  height: 100vh;
  margin: 0;

  @media (width >= 1024px) {
    background: linear-gradient(
      to bottom,
      $color-bg-title 0%,
      $color-bg-title 60%,
      $color-bg-light 60%,
      $color-bg-light 100%
    );
    background-color: $color-bg-light;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    color: $color-font-emphasis;
    text-decoration: none;
  }
}

h1 {
  color: $color-font-light;
  font-family: $font-title;
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  color: $color-font-emphasis;
  font-family: $font-title;
  font-size:1.5rem;
  font-weight: 700;
}





/* ------------------------------------*\
    #LAYOUTS: Layout-header
\*------------------------------------ */

.layout-header {
  background-color: $color-bg-dark;
  color: $color-font-light;
  padding: 2rem;


  &__brand-container {
    align-items: center;
    column-gap: 2rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 1rem;

    @media (width >= 1024px) {
      max-width: 1100px;
    }
  }

  &__logo img {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
  }

  &__burger-menu {
    @media (width >= 1024px) {
      display: none;
    }
  }

  &__title {
    color: $color-font-light;
    font-family: $font-brand;
    font-size: 2.2rem;
    margin: 0;
    text-align: center;

    @media (width >= 768px) {
      font-size: 3.3rem;
    }

    @media (width >= 1024px) {
      font-size: 4.4rem;
    }
  }
}





/* ------------------------------------*\
    #LAYOUTS: Layout-title
\*------------------------------------ */

.layout-overlay {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    flex-direction: column;
  }
}

.layout-title {
  background-color: $color-bg-title;
  border-radius: 25px 25px 0 0;
  margin-left: .5rem;
  margin-right: .5rem;

  @media (width >= 1024px) {
    background-color: transparent;
    max-width: 1100px;
  }

  &__container {
    margin: auto;
    padding-left: 1rem;

    @media (width >= 1024px) {
      max-width: 1100px;
    }
  }
}





/* ------------------------------------*\
    #LAYOUTS: Layout-image
\*------------------------------------ */

.layout-image {
  background-color: $color-bg-title;
  border-radius: 0 0 25px 25px;
  margin-left: .5rem;
  margin-right: .5rem;

  @media (width >= 1024px) {
    background-color: transparent;
    max-width: 1100px;
  }

  &__container {
    margin: 1rem;

    @media (width >= 1024px) {
      display: flex;
      justify-content: space-between;
      max-width: 1100px;

      & img {
        border-radius: 25px;
        flex: 2;
        height: auto;
        margin-left: 1.5rem;
        width: 650px;
      }
    }
  }
}





/* ------------------------------------*\
    #LAYOUT: notes
\*------------------------------------ */

.layout-notes{
  @media (width >= 1024px) {
    flex: 1;
  }

  &__container {
    margin: auto;
    padding-bottom: 1rem;
    padding-right: 2rem;
    text-align: end;
  }

  &__puntuacio {
    align-items: center;
    column-gap: .2rem;
    display: flex;
    justify-content: flex-end;  
  }

  &__note {
    color: $color-font-light;
  }
}





/* ------------------------------------*\
    #LAYOUT: main
\*------------------------------------ */

.layout-main{
  &__container {
    background-color: $color-bg-light;
    border-radius: 25px;
    margin: .5rem;
    padding: 1rem;
  }

  @media (width >= 768px) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  @media (width >= 1024px) {
    max-width: 1100px;
  }

  &__row {
    @media (width >= 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    @media (width >= 1024px) {
      max-width: 1100px;
    }
  }
    
  &__list{
    padding-left: 1rem;
  }

  &__item{
    list-style-type: none;
  } 
}

@media (width >= 768px) {
  .layout-main__row .layout-main__container {
    flex: 1;
    margin-left: .2rem;
    margin-right: .2rem;
    min-width: 250px;
  }
}





/* ------------------------------------*\
    #LAYOUT: footer
\*------------------------------------ */

.layout-footer {
  background-color: $color-bg-dark;
  color: $color-font-light;

  &__container {
    margin: auto;
    padding: 1rem;

    @media (width >= 1024px) {
      max-width: 1100px;
    }
  }

  &__social {
    column-gap: 1.5rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  &__separation {
    padding-bottom: .5rem;
    padding-top: .5rem;
    text-align: center;

    @media (width >= 768px) {
      display: none;
    }
  }

  &__row {
    @media (width >= 768px) {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: center;
    }
  }

  &__author,
  &__attributions {
    @media (width >= 768px) {
      flex: 1;
    }
  } 

  &__text {
    font-size: .8rem;
    text-align: center;

    @media (width >= 768px) {
      text-align: left;
    }
  }

  &__text-attribution {
    font-size: .6rem;
    text-align: center;

    @media (width >= 768px) {
      text-align: right;
    }
  }
}





/* ------------------------------------*\
    #MODULES
\*------------------------------------ */

.img-clotxa {
  border-radius: 25px;
  display: block;
  height: auto;
  width: 100%;
}

.burger-menu {
  background-color: lighter-color($color-bg-dark, 10%);
  border-radius: 8px;
  box-shadow: 0 4px 16px lighter-color($color-bg-dark, 25%);
  display: none;
  padding: 10px;
  position: absolute;
  right: 20px;
  top: 60px; 
  z-index: 1000;

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & li {
    margin: 10px 0;
  } 

  & a {
    color: $color-font-light;
    text-decoration: none;
  }
}

@media (width >= 1024px) {
  .layout-header__nav-list {
    column-gap: 5rem;  
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: auto;
    max-width: 1100px;
    text-transform: uppercase;

    & a {
      text-decoration: none;
    }
  }
}





/* ------------------------------------*\
    #STATE & #THEME
\*------------------------------------ */

.is-hidden {
  display: none;

  @media (width >= 1024px) {
    display: block;
  }
}

.icon {
  padding-right: 1rem;

  &--higlight-color {
    color: $highlight-color;
  }

  &--white-color {
    color: $color-font-light;
  }

  &--green-color {
    color: #63E6BE;
  }

  &--red-color {
    color: $color-font-emphasis;
  }
}
