





/* ------------------------------------*\
    #BASE
\*------------------------------------ */


* {
  box-sizing: border-box;
}

body {
  background-color: $color-bg-dark;
  color: $color-font-dark; 
  display: flex;
  flex-direction: column;
  font-family: $font-body;
  font-size: 16px;
  height: 100vh;
  margin: 0;
}

@media (width >= 1024px) {
  body {
    background: linear-gradient(
      to bottom,
      $color-bg-title 0%,
      $color-bg-title 60%,
      $color-bg-light 60%,
      $color-bg-light 100%
    );
    background-color: $color-bg-light;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
}

.layout-header__title{
  color: $color-font-light;
  font-family: $font-brand;
  font-size: 2.2rem;
  margin: 0;
  text-align: center;
}

@media (width >= 768px) {
  .layout-header__title {
    font-size: 3.3rem;
  }
}

@media (width >= 1024px) {
  .layout-header__title{
    font-size: 4.4rem;
  }
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: $color-font-emphasis;
  text-decoration: none;
}

h1 {
  color: $color-font-light;
  font-family: $font-title;
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  color: $color-font-emphasis;
  font-family: $font-title;
  font-size:1.5rem;
  font-weight: 700;
}

.layout-notes__note{
  color: $color-font-light
}

.layout-footer__text {
  font-size: .8rem;
  text-align: center;
}

.layout-footer__text-attribution {
  font-size: .6rem;
  text-align: center;
}




/* ------------------------------------*\
    #LAYOUTS
\*------------------------------------ */

.layout-header {
  background-color: $color-bg-dark;
  color: $color-font-light;
  padding: 2rem;
}

.layout-header__brand-container {
  align-items: center;
  column-gap: 2rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 1rem;
}

@media (width >= 1024px) {
  .layout-header__brand-container {
    max-width: 1100px;
  }
}

.layout-header__logo img {
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
}

.layout-overlay {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.layout-overlay__container {
  display: flex;
  flex-direction: column;
}

.layout-title {
  background-color: $color-bg-title;
  border-radius: 25px 25px 0 0;
  margin-left: .5rem;
  margin-right: .5rem;
}

@media (width >= 1024px) {
  .layout-title {
    background-color: transparent;
    max-width: 1100px;
  }
}

.layout-image {
  background-color: $color-bg-title;
  border-radius: 0 0 25px 25px;
  margin-left: .5rem;
  margin-right: .5rem;
}

@media (width >= 1024px) {
  .layout-image {
    background-color: transparent;
    max-width: 1100px;
  }
}

@media (width >= 1024px) {
  .layout-image__container {
    display: flex;
    justify-content: space-between;
  }

  .layout-image__container img {
    border-radius: 25px;
    flex: 2;
    height: auto;
    margin-left: 1.5rem;;
    width: 650px;
  }

   .layout-notes{
    flex: 1;
  }
}

.layout-title__container {
  margin: auto;
  padding-left: 1rem;
}

@media (width >= 1024px) {
  .layout-title__container {
    max-width: 1100px;
  }
}

.layout-image__container {
  margin: 1rem;
}

@media (width >= 1024px) {
  .layout-image__container {
    max-width: 1100px;
  }
}

.img-clotxa {
  border-radius: 25px;
  display: block;
  height: auto;
  width: 100%;
}

.layout-notes__container {
  margin: auto;
  padding-bottom: 1rem;
  padding-right: 2rem;
  text-align: end;
}

.layout-notes__puntuacio {
  align-items: center;
  column-gap: .2rem;
  display: flex;
  justify-content: flex-end;
}

.layout-main__container {
  background-color: $color-bg-light;
  border-radius: 25px;
  margin: .5rem;
  padding: 1rem;
}

.layout-main__list {
  padding-left: 1rem;
}

.layout-main__item {
  list-style-type: none;
}

@media (width >= 768px) {
  .layout-main__container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  @media (width >= 1024px) {
    .layout-main__container {
      max-width: 1100px;
    }
  }
    
  .layout-main__row {
    display: flex;
    gap: .5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  @media (width >= 1024px) {
    .layout-main__row {
      max-width: 1100px;
    }
  }

  .layout-main__row .layout-main__container {
    flex: 1;
    margin-left: .2rem;
    margin-right: .2rem;
    min-width: 250px;
  }
}

.layout-footer {
  background-color: $color-bg-dark;
  color: $color-font-light;
}

.layout-footer__container {
  margin: auto;
  padding: 1rem;
}

@media (width >= 1024px) {
  .layout-footer__container {
    max-width: 1100px;
  }
}

.layout-footer__social {
  column-gap: 1.5rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.layout-footer__separation {
  padding-bottom: .5rem;
  padding-top: .5rem;
  text-align: center;
}

@media (width >= 768px) {
  .layout-footer__row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .layout-footer__author,
  .layout-footer__attributions{
    flex: 1;
  }

  .layout-footer__text {
    text-align: left;
  }

  .layout-footer__text-attribution {
    text-align: right;
  }

  .layout-footer__separation {
    display: none;
  }
}





/* ------------------------------------*\
    #MODULES
\*------------------------------------ */

.icon {
  padding-right: 1rem;
}

.burger-menu {
  background-color: $color-bg-dark;
  border-radius: 8px;
  display: none;
  padding: 10px;
  position: absolute;
  right: 20px;
  top: 60px; 
  z-index: 1000;
}

.burger-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.burger-menu li {
  margin: 10px 0;
}

.burger-menu a {
  color: $color-font-light;
  text-decoration: none;
}

@media (width >= 1024px) {
  .layout-header__nav-list {
    column-gap: 5rem;  
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: auto;
    max-width: 1100px;
    text-transform: uppercase;
  }

  .layout-header__nav-list a {
    text-decoration: none;
  }
}





/* ------------------------------------*\
    #STATE
\*------------------------------------ */

.is-hidden {
  display: none;
}

@media (width >= 1024px) {
  .is-hidden{
    display: block;
  }
}

@media (width >= 1024px) {
  .layout-header__burger-menu{
    display: none;
  }
}