<footer class="layout-footer">
    <div class="layout-footer__container">
        <div class="layout-footer__social">
            <a href="" class="layout-footer__social-link" target="_blank" rel="noopener noreferrer">
              <i class="fa-brands fa-facebook fa-2xl" style="color: #f5f5f5;">
            </a>
          </i>
            <a href="" class="layout-footer__social-link" target="_blank" rel="noopener noreferrer">
              <i class="fa-brands fa-instagram fa-2xl" style="color: #f5f5f5;"></i>
            </a>
          </i>
            <a href="" class="layout-footer__social-link" target="_blank" rel="noopener noreferrer">
              <i class="fa-brands fa-twitter fa-2xl" style="color: #f5f5f5;"></i>
            </a>
          </i>
            <a href="" class="layout-footer__social-link" target="_blank" rel="noopener noreferrer">
              <i class="fa-brands fa-youtube fa-2xl" style="color: #f5f5f5;"></i>
            </a>
          </i>
        </div>
        <div class="layout-footer__separation">
          <i class="fa-solid fa-diamond fa-2xs" style="color: #8f0808;"></i>
        </div>
        <div class="layout-footer__author">
            <p class="layout-footer__text">© 2025 Secrets de Riba-roja d'Ebre</p>
            <p class="layout-footer__text">Carles Sallent Puigdemasa</p>
        </div>  
        <div class="layout-footer__separation">
          <i class="fa-solid fa-diamond fa-2xs" style="color: #8f0808;"></i>
        </div>
        <div class="layout-footer__attributions">
            <p class="layout-footer__text-attribution">Foto clotxa: <a href="https://commons.wikimedia.org/wiki/File:CLOTXA.jpg">Pastisseta</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>, via Wikimedia Commons</p>
            <p class="layout-footer__text-attribution">Logo Escut: By Joan M. Borràs (<a href="https://ca.wikipedia.org/wiki/Usuari:Ebrenc" class="extiw" title="ca:Usuari:Ebrenc">ebrenc</a>), <a href="https://creativecommons.org/licenses/by-sa/2.5" title="Creative Commons Attribution-Share Alike 2.5">CC BY-SA 2.5</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=1688056">Link</a>
        </div>
    </div>
</footer>
